:root {
    --lightningcss-light: initial;
    --lightningcss-dark: ;
    color-scheme: light;
    --sk-fg-1: #141414;
    --sk-fg-2: #262626;
    --sk-fg-3: #666;
    --sk-fg-4: gray;
    --sk-fg-accent: #d43008;
    --sk-bg-1: #fff;
    --sk-bg-2: #fdfdfd;
    --sk-bg-3: #fafafa;
    --sk-bg-4: #f2f2f2;
    --sk-bg-accent: var(--sk-fg-accent);
    --sk-bg-selection: #42b4ff4d;
    --sk-bg-unfocused-selection: #71aad033;
    --sk-bg-highlight: #ff9;
    --sk-border: #ebebeb;
    --shiki-color-text: var(--sk-fg-2);
    --shiki-token-constant: var(--shiki-color-text);
    --shiki-token-string: #994d00;
    --shiki-token-comment: var(--sk-fg-4);
    --shiki-token-keyword: #0074c2;
    --shiki-token-parameter: var(--shiki-color-text);
    --shiki-token-function: var(--sk-fg-accent);
    --shiki-token-string-expression: var(--shiki-token-string);
    --shiki-token-punctuation: var(--shiki-color-text);
    --shiki-token-link: var(--shiki-token-keyword);
    --sk-scrollbar: #0000004d;
    --sk-shadow: drop-shadow(0px 0px 14px #0000001a)
}

:root.dark {
    --lightningcss-light: ;
    --lightningcss-dark: initial;
    color-scheme: dark;
    --sk-bg-hue: 220;
    --sk-fg-1: hsl(var(--sk-bg-hue),2%,90%);
    --sk-fg-2: hsl(var(--sk-bg-hue),3%,80%);
    --sk-fg-3: hsl(var(--sk-bg-hue),5%,65%);
    --sk-fg-4: hsl(var(--sk-bg-hue),5%,55%);
    --sk-fg-accent: #f96743;
    --sk-bg-0: hsl(var(--sk-bg-hue),8%,10%);
    --sk-bg-1: hsl(var(--sk-bg-hue),10%,12%);
    --sk-bg-2: hsl(var(--sk-bg-hue),12%,14%);
    --sk-bg-3: hsl(var(--sk-bg-hue),14%,16%);
    --sk-bg-4: hsl(var(--sk-bg-hue),15%,21%);
    --sk-bg-accent: #b32d00;
    --sk-bg-highlight: #4d4d00;
    --sk-border: hsl(var(--sk-bg-hue),15%,22%);
    --shiki-color-text: #c4c1bb;
    --shiki-token-comment: #8c8c8c;
    --shiki-token-keyword: #57b5f4;
    --shiki-token-function: #eab095;
    --shiki-token-string: #ccb88f;
    --sk-scrollbar: #ffffff4d;
    --sk-shadow: drop-shadow(1px 2px 16px #00000080)
}

:root {
    --sk-nav-height: 6rem;
    --sk-secondary-nav-height: 5rem;
    --sk-page-padding-top: 6rem;
    --sk-page-padding-bottom: 8rem;
    --sk-page-padding-side: 1.6rem;
    --sk-thick-border-width: .3rem;
    --sk-border-radius: .4rem;
    --sk-border-radius-inner: .2rem;
    --sk-page-content-width: 76rem;
    --sk-banner-height: 0px;
    --sk-pane-controls-height: 4.2rem
}

@media screen and (min-width: 480px) {
    :root {
        --sk-page-padding-side:3.2rem
    }
}

@media screen and (min-width: 800px) {
    :root {
        --sk-page-padding-top:8rem;
        --sk-page-padding-side: 4.8rem;
        --sk-secondary-nav-height: 6rem
    }
}

:root {
    --sk-font-family-ui: "Fira Sans",-apple-system,sans-serif;
    --sk-font-family-body: serif;
    --sk-font-family-heading: "DM Serif Display",Georgia,serif;
    --sk-font-family-mono: "Fira Mono",monospace;
    --sk-font-size-h1: 3.6rem;
    --sk-font-size-h2: 3rem;
    --sk-font-size-h3: 2.4rem;
    --sk-font-size-body: 1.8rem;
    --sk-font-size-body-small: 1.6rem;
    --sk-font-size-ui-small: 1.3rem;
    --sk-font-size-ui-medium: 1.6rem;
    --sk-font-size-ui-large: 3rem;
    --sk-font-size-mono: 1.4rem;
    --sk-line-height-body: calc(1.5*var(--sk-font-size-body));
    --sk-line-height-body-small: calc(1.5*var(--sk-font-size-body-small));
    --sk-font-h1: 500 var(--sk-font-size-h1)/1.2 var(--sk-font-family-heading);
    --sk-font-h2: 500 var(--sk-font-size-h2)/1.2 var(--sk-font-family-heading);
    --sk-font-h3: 500 var(--sk-font-size-h3)/1.2 var(--sk-font-family-heading);
    --sk-font-body: 400 var(--sk-font-size-body)/var(--sk-line-height-body)var(--sk-font-family-body);
    --sk-font-body-small: 400 var(--sk-font-size-body-small)/var(--sk-line-height-body-small)var(--sk-font-family-body);
    --sk-font-ui-small: 400 var(--sk-font-size-ui-small)/1.5 var(--sk-font-family-ui);
    --sk-font-ui-medium: 400 var(--sk-font-size-ui-medium)/1.5 var(--sk-font-family-ui);
    --sk-font-ui-large: 400 var(--sk-font-size-ui-large)/1.5 var(--sk-font-family-ui);
    --sk-font-mono: 400 var(--sk-font-size-mono)/1.7 var(--sk-font-family-mono)
}

@media (-webkit-min-device-pixel-ratio: 1.75),(min-resolution:1.75dppx) {
    :root {
        --sk-font-family-body:"EB Garamond",serif;
        --sk-font-size-body: 2rem;
        --sk-font-size-body-small: 1.8rem
    }
}

:root.font-boring {
    --sk-font-family-body: "Atkinson Hyperlegible",sans-serif;
    --sk-font-size-body: 1.8rem;
    --sk-font-size-body-small: 1.6rem
}

:root.font-boring p code {
    font-size: .75em
}

:root.dark {
    -webkit-font-smoothing: antialiased
}

@media screen and (min-width: 800px) {
    :root {
        --sk-font-size-h1:5.4rem
    }
}

:root {
    --safari-fix: translate3d(0,0,.01);
    --quint-out: cubic-bezier(.23,1,.32,1)
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 62.5%
}

html,body {
    width: 100%;
    /* height: 100% */
}

body {
    font-family: var(--sk-font-family-body);
    color: var(--sk-fg-2);
    background-color: var(--sk-bg-1);
    -moz-tab-size: 2;
    tab-size: 2;
    width: 100%;
    line-height: 1.5;
    padding-top: var(--sk-banner-height);
    padding-bottom: 0;
    position: relative;
}

@media (min-width: 832px) {
  body {
    padding-top: var(--sk-nav-height);
    padding-bottom: var(--sk-banner-height);
  }
}

* {
    box-sizing: inherit;
    scrollbar-width: thin;
    scrollbar-color: var(--sk-scrollbar)transparent;
    margin: 0;
    padding: 0
}

:focus-visible {
    outline: 2px solid var(--sk-fg-accent);
    border-radius: var(--sk-border-radius)
}

p,ul,ol {
    font: var(--sk-font-body);
    margin: .5lh 0;
    /* letter-spacing: -0.0025em; */
}
/*
:is(p,ul,ol):first-child {
    margin-top: 0
}
*/
:is(p,ul,ol):last-of-type {
  margin-bottom: 0
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    position: relative
}

a:hover {
    text-decoration: underline
}

h1 {
    font: var(--sk-font-h1)
}

h2 {
    font: var(--sk-font-h2)
}

h3 {
    font: var(--sk-font-h3)
}

h1,h2,h3 {
    text-wrap: balance;
    color: var(--sk-fg-1);
    position: relative
}

p {
  margin: .5lh 0;
}

strong {
    font-weight: 400
}

code,kbd {
    border-radius: var(--sk-border-radius);
    white-space: nowrap;
    background: var(--sk-bg-4);
    font-size: .666em;
    line-height: 1.7;
    position: relative
}

code {
    font-family: var(--sk-font-family-mono);
    margin: 0 .2rem;
    padding: .4rem
}

kbd {
    font-family: var(--sk-font-family-ui)
}

pre {
    overflow-x: auto
}

pre code {
    white-space: inherit;
    font-size: var(--sk-font-size-mono);
    background-color: #0000;
    margin: 0;
    padding: 0;
    top: 0
}

header {
    margin-bottom: 4rem
}

::selection {
    background: var(--sk-bg-selection)
}

blockquote {
    margin: var(--sk-line-height-body)0;
    max-width: var(--sk-page-content-width);
    position: relative
}

blockquote :where(p,ul,ol) {
    font-size: var(--sk-font-size-body-small)
}

blockquote :last-child {
    margin: 0
}

input,button {
    font-family: var(--sk-font-family-ui);
    font-size: inherit
}

button {
    color: currentColor;
    background-color: #0000;
    border: none;
    cursor: pointer;
}

button[disabled] {
    color: var(--sk-fg-4);
    cursor: not-allowed;
}

a {
    color: var(--sk-fg-accent)
}

table {
    font: var(--sk-font-body-small);
    width: 100%
}

td,th {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: .4rem .8rem .4rem 0
}

table :where(code,span) {
    white-space: pre
}

.page {
  padding: var(--sk-page-padding-top) var(--sk-page-padding-side) var(--sk-page-padding-bottom);
  max-width: var(--sk-page-content-width);
  height: 100%;
  margin: 0 auto;
  box-sizing: content-box;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden
}

:root {
    --sk-raised-border: var(--sk-border);
    --sk-raised-highlight: #f2f2f2;
    --sk-raised-shadow: #dbdbdb;
    --sk-raised-color: var(--sk-raised-highlight)var(--sk-raised-border)var(--sk-raised-border)var(--sk-raised-highlight);
    --sk-raised-hover-color: var(--sk-raised-border)var(--sk-raised-shadow)var(--sk-raised-shadow)var(--sk-raised-border);
    --sk-raised-active-color: var(--sk-raised-shadow)var(--sk-raised-border)var(--sk-raised-border)var(--sk-raised-shadow);
    --sk-raised-width: 1px 2px 2px 1px;
    --sk-raised-active-width: 2px 1px 1px 2px
}

:root.dark {
    --sk-raised-highlight: hsl(var(--sk-bg-hue),15%,32%);
    --sk-raised-shadow: var(--sk-bg-3);
    --sk-raised-color: var(--sk-raised-border)var(--sk-raised-shadow)var(--sk-raised-shadow)var(--sk-raised-border);
    --sk-raised-hover-color: var(--sk-raised-highlight)var(--sk-raised-shadow)var(--sk-raised-shadow)var(--sk-raised-highlight);
    --sk-raised-active-color: var(--sk-raised-shadow)var(--sk-raised-highlight)var(--sk-raised-highlight)var(--sk-raised-shadow)
}

.raised {
    border-radius: var(--sk-border-radius);
    border-style: solid;
    border-color: var(--sk-raised-color);
    border-width: var(--sk-raised-width)
}

.raised.primary {
    --sk-raised-color: #f8603a #ac2706 #ac2706 #f8603a;
    --sk-raised-hover-color: #fa886b #942205 #942205 #fa886b;
    --sk-raised-active-color: #942205 #fa886b #fa886b #942205;
    background: var(--sk-bg-accent);
    color: #fff
}

:root.dark .raised.primary {
    --sk-raised-color: #f8603a #942205 #942205 #f8603a;
    --sk-raised-hover-color: #f97453 #851e05 #851e05 #f97453;
    --sk-raised-active-color: #7b1c04 #fa886b #fa886b #7b1c04
}

.raised:hover {
    border-color: var(--sk-raised-hover-color)
}

.raised:active {
    border-color: var(--sk-raised-active-color);
    border-width: var(--sk-raised-active-width)
}

.raised:disabled {
    border-color: var(--sk-raised-border);
    border-width: 1px
}

button.icon,summary.icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 2.3rem 2.3rem;
    width: 3.2rem;
    height: 3.2rem;
    position: relative
}

button:has(>span.icon) {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 2.3rem 2.3rem;
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
}

button>span.icon {
    background: var(--sk-fg-3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mask-position: 50%;
    mask-size: 2.3rem 2.3rem;
    mask-repeat: no-repeat
}

button:where(.tooltip,.tooltip-left)[aria-label]:where(:hover,:focus) {
    --arrow-size: 1rem
}

button:where(.tooltip,.tooltip-left)[aria-label]:where(:hover,:focus):before {
    content: "";
    width: var(--arrow-size);
    height: var(--arrow-size);
    background: var(--sk-fg-3);
    top: calc(100% + var(--arrow-size)*.5);
    left: calc(50% - var(--arrow-size)*.5);
    position: absolute;
    rotate: 45deg
}

button:where(.tooltip,.tooltip-left)[aria-label]:where(:hover,:focus):after {
    content: attr(aria-label);
    top: calc(100% + var(--arrow-size));
    background: var(--sk-fg-3);
    color: var(--sk-bg-4);
    border-radius: var(--sk-border-radius);
    font: var(--sk-font-ui-small);
    text-transform: none;
    white-space: pre;
    padding: .5em .8em;
    position: absolute;
    left: 50%;
    translate: -50%
}

button:where(.tooltip,.tooltip-left)[aria-label]:where(:hover,:focus).tooltip-left:after {
    translate: calc(2rem - 100%)
}

button.text {
  font: var(--sk-font-ui-small);
  height: 3.2rem;
  padding: 0 1rem;
}

.highlight {
  --color: #dcdc0033;
  background: var(--color);
  outline: 2px solid var(--color);
  border-radius: 2px;
}
.highlight.remove {
    --color: #ff00001a;
}
